body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: white;
  font-family: "Ubuntu", sans-serif;
}

.img {
  display: flex;
  height: 96%;
  width: 25%;
  margin: 1% 1% 1% 7%;
  background: url(../signup-form/images/tumblr_72a191ee0362f60dfd2c86e61b13685a_86d543b9_2048.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}

.img-description {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  background-color: rgba(2, 2, 2, 0.356);
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgba(238, 240, 110, 0.829);
}

.form {
  width: 60%;
  margin: 0;
  padding: 0;
  margin-top: 5%;
}

.form > * {
  padding: 0 10%;
}

.form-label {
  font-weight: 900;
  font-size: 20px;
  display: block;
  transition: all 0.5s;
  transform: translateY(-3.4rem);
}

.form-input {
  border: 2px solid rgb(182, 184, 85);
  color: black;
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  width: 100%;
  display: block;
  transition: all 0.5s;
  margin-top: 5%;
  padding-right: 10%;
}

.form-input:focus {
  transition: 0.2s;
  outline: none;
  border: 2px solid grey;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
}
